.chart {
  margin: 0 auto;
  .chart-title {
    float:left;
    width:100%;
    height:20px;
    text-align:center;
    margin-bottom:35px;
    font-weight: bold;
    font-size:15px;
  }
  
  .chart-viewer {
    display:block;
    margin:0px auto;
  }
  
  .chart-notes {
    list-style:none;
    float:left;
    padding:0px 10px;
    padding-left:25%;
    li {
      float:left;
      width:100%;
      margin-top: 12px;
      height:19px;
      line-height:19px;
      .item-color {
        float:left;
        width: 19px;
        height: 19px;
      }
      
      .item-text {
        float:left;
        height:19px;
        line-height:19px;
        margin-left: 14px;
        font-size:12px;
      }
    }
  }
}
