//= require './pure'
//= require './glyphicons'
//= require './responsive-tables'
//= require '../pickadate/default'
//= require '../pickadate/default.date'
//= require './on_off_switch'

$max_width: 1024px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pure-dash-banner {
  background: #193d61;
}

.home-menu {
  max-width: $max_width;
  margin: 0 auto;
}

.home-menu.pure-menu-open {
  height: 53px;
  background: none;
  div.company-slogan {
    color: #fff;
    float: left;
    color: #97a7b7;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 6px;
    text-transform: lowercase;
  }
  
  div.company-logo {
    float: left;
  }
  
  a.pure-menu-heading {
    padding-top: 16px;
    padding-left: 0;
  }
  
  ul.rhs-buttons {
    padding: 14px;
    padding-right: 0;
  }
  
  a.rhs-button {
    color: #fff;
    padding: 3px 10px;
    font-size: 11px;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
  }
}

.pure-dash-main-wrapper {
  max-width: $max_width;
  margin: 0px auto;
  margin-bottom: 10px;
}

.pure-button-primary, a.pure-button-primary {
  background: #f4b335;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
  padding: 10px;
}

.home-menu ul {
  float: right;
}

.pure-menu.pure-menu-horizontal ul.pure-dash-main-menu {
  max-width: $max_width;
  margin: 0 auto;
  display: block;
  li {
    a {
      padding: 17px 25px;
      text-transform: uppercase;
      &:hover {        
        background: none;
        color: #d6d6d6;
        text-decoration: none;
      }
    }    
  }
  li.active {
    background-color: #bab1a8;
    a {
      color: #000;
      font-weight: bold;      
    }
  }
}

ul.pure-dash-sub-menu {
  width: 100%;
  @include clearfix;
  display: block;
  left: 0;
  top: 0;
  position: relative;
  visibility: visible;
  li {
    float: left;
  }
}

.pure-menu.pure-dash-main-menu-container {
  background: #333231;
}

.pure-menu.pure-dash-sub-menu-container {
  background: #bab1a8;
  ul {
    max-width: $max_width;
    margin: 0 auto;
    display: block;
    li {
      a {
        height: 38px;
        padding-top: 6px;
        display: block;
        &:hover {
          text-decoration: none;
          background: none;
          color: #000;
        }
      }
    }
    li.active {
      a {
        color: #000;
      }
    }
  }
}

@media only screen and (max-width : 1024px) {
  .home-menu.pure-menu-open {
    color: #000;
    a.pure-menu-heading {
      padding-left: 10px;
    }
    ul.rhs-buttons {
      padding-right: 10px;
    }
  }
  
  .pure-menu.pure-menu-horizontal ul.pure-dash-main-menu {
    padding-left: 10px;
  }
  
  .pure-dash-main-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width : 767px) {
  .pure-menu.pure-menu-horizontal ul.pure-dash-main-menu {
    margin-right: 15px;
    li {
      display: block;
      padding-left: 10px;
      a {
        padding: 10px 0;
      }
      margin-right: 0px;      
    }    
  }
}

a.create-new-button {
  display: inline-block;
}

.button-secondary, .button-red {
  background: #ae3a45;
  color: #fff;
}

.button-yellow {
  background: #f4b335;
  color: #fff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

p.pure-dash-no-record {
  text-align: center;
  color: #777;
}

.pure-form-aligned .pure-control-group label {
  width: 15em;
}

.pure-form fieldset.inputs div.pure-dash-input-wrapper {
  > label {
    width: 20%;
    margin-right: 1%;
    text-align: left;
  }
  > input, > select {
    width: 79%;
  }
  &.date_select > select {
    width: auto;
  }
}

.pure-form fieldset.inputs div.pure-dash-combined-fields {
  list-style-type: none;
  margin-left: 21%;
  div.pure-dash-input-wrapper label {
    display: none;
  }
  
  div.pure-dash-input-wrapper input {
    width: 100%;    
  }
  
}

.pure-form fieldset.inputs div.pure-dash-without-label-field {
  margin-left: 21%;
  input {
    width: 100%;
  }
}

.pure-form fieldset.inputs div.pure-dash-input-wrapper > select {
  height: 35px;
}

div.pure-dash-page-header {
  background: #6a6a6a;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

table.pure-dash-data-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  thead th {
    background: #d7d7d7;
    padding: 20px 10px;
    color: #1d1d1d;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    a {
      color: #1d1d1d;      
    }
    
  }
  tbody {    
    tr:last-child {
      td {
        border-bottom: 1px solid #ccc;
      }
    }
    td {
      padding: 10px;
      font-size: 0.9em;
      border-collapse: collapse;
    }
    td:last-child {
      border-right: 1px solid #ccc;
    }
    tr.odd td {
      background: #ffffff;
    }
    tr.even td {
      background: #f3f3f3;
    }
  }
}

div.form-group.filter {
  float: right;  
  margin-bottom: 10px;
  input {
    border-radius: 2em;
    padding: 0.5em 1em;
  }
}

a.pure-dash-cancel-link {
  color: #6a6a6a;
}

a.pure-button {
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width : 480px) {
  .pure-form fieldset.inputs div.pure-dash-input-wrapper > input, .pure-form fieldset.inputs div.pure-dash-input-wrapper > select {
     width: 100%;
  }
   
   .pure-form fieldset.inputs div.pure-dash-input-wrapper > label {
     width: 100%;
     margin-bottom: 10px;
     display: block;
   }
  

  .pure-form fieldset.inputs div.pure-dash-combined-fields {
    margin-left: 0;
  }
  
  .pure-form fieldset.inputs div.pure-dash-without-label-field {
    margin-left: 0;
  }
  
  .company-slogan {
    display: none;
  }
   /* Styles */
}

abbr[title] {
  border-bottom: 0 none;
}

div.text-center {
  text-align: center;
}

ul.pagination {
  list-style-type: none;
  margin-top: 2px;
  padding-top: 0;
  padding-left: 0;
  margin-left: 0;
  display: inline-block;
  @include clearfix;
  li {
    float: left;
    margin-right: 5px;
    a {
      font-family: inherit;
      font-size: 100%;
      padding: 0.5em 1em;
      color: rgba(0, 0, 0, 0.8);
      background-color: #E6E6E6;
      text-decoration: none;
      border-radius: 2px;
      background: #e6e6e6;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
        background: #bab1a8;
        color: #fff;
      }
    }
  }
  li.active {
    a {
      background-color: #333231;
      color: #fff;
    }
  }
  li:last-child {
    margin-right: 0;
  }
  
}

div.pure-dash-flash-notice {
  background: #f4b335;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
}